.purple-shadow:focus {
  box-shadow: 0px 3px 4px 0px #4b4ae0;
  border: 2px solid black !important;
}
.purple-shadow:hover {
  border: 2px solid black !important;
  box-shadow: 0px 3px 4px 0px #4b4ae0;
} 

.black-hover.btn:hover {
  border: 2px solid black !important;
 color: black !important
}
.black-hover.btn {
  border: 1px solid black;
 color: black !important
}

* {
  text-overflow: ellipsis;
}
/* 
.ant-input-number-input-wrap > .ant-input-number-input { 
  height: 15px;
} */
.minimalInput > div > input {
  height: 15px !important;
  font-size: 8px !important;
}
