.purple-shadow:focus {
  box-shadow: 0px 0px 5px 1px #4b4ae0;
}
* {
  text-overflow: ellipsis;
}
/* 
.ant-input-number-input-wrap > .ant-input-number-input { 
  height: 15px;
} */
.minimalInput > div > input {
  height: 15px !important;
  font-size: 8px !important;
}
