@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

* {
  margin: 0;
  font-family: "Metamorphous" !important;
  font-size:  12;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
